.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-select {
  overflow: visible;
}

.feature-name {
  text-decoration: underline;
  cursor: pointer;
}

.copiable {
  cursor: pointer;
  background-color: #f4f4f4;
}

.additional-info-available {
  cursor: help;
}
