.copiable {
  cursor: pointer;
  background-color: #f4f4f4;
}

.targeting-toggle {
  margin-left: 20px;
}

.bordered {
  border: #9c9c9c 1px dashed;
  border-radius: 6px;
}

.clickable {
  cursor: pointer;
}
