<mat-list>
  <mat-list-item>
    <h2>{{(model | async)?.feature.name}}</h2>
  </mat-list-item>

  <mat-list-item>
    <span class="copiable" ngxClipboard [cbContent]="(model | async)?.feature.key"
          matTooltip="Copy to clipboard" matTooltipPosition="below">
        {{(model | async)?.feature.key}}
    </span>
  </mat-list-item>
</mat-list>

<mat-tab-group>
  <mat-tab label="Targeting">

      <mat-list>
        <mat-list-item>
          <h4>Targeting</h4>
          <mat-slide-toggle class="targeting-toggle" color="primary" [checked]="(model | async)?.turnedOn"></mat-slide-toggle>
        </mat-list-item>

        <mat-list-item *ngIf="!userTargetingVisible" class="bordered clickable" (click)="expandUserTargeting()">
          + Target individual users
        </mat-list-item>

        <mat-list-item *ngIf="userTargetingVisible" class="bordered">
          true

          false
        </mat-list-item>
      </mat-list>
  </mat-tab>

  <mat-tab label="Variations">
    <h1>Some more tab content</h1>
  </mat-tab>
</mat-tab-group>
