<app-route-header header="Features">
  <button class="sidenav-toggle"
          mat-icon-button
          matTooltip="Projects and environments"
          matTooltipPosition="after"
          (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
</app-route-header>

<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div class="sidenav-content-wrapper">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" [opened]="sideNavOpened$ | async">
    <button mat-icon-button [matMenuTriggerFor]="projectsMenu">
      Select project
    </button>
    <mat-menu #projectsMenu="matMenu">
      <button mat-menu-item *ngFor="let project of (projects$ | async).content">
        {{project.name}}
      </button>
    </mat-menu>
  </mat-sidenav>
</mat-sidenav-container>
