<app-route-header header="Features"></app-route-header>

<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div class="sidenav-content-wrapper">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-nav-list>
      <a mat-list-item>
        <button mat-icon-button (click)="showInfo(link)">
          
        </button>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
