<app-route-header header="Features">
  <button class="sidenav-toggle"
          mat-icon-button
          matTooltip="Projects and environments"
          matTooltipPosition="after"
          (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
</app-route-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <div class="sidenav-content-wrapper">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav mode="side" [opened]="sideNavOpened$ | async">
    <mat-expansion-panel [hideToggle]="true" [expanded]="true" class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Select project
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-button *ngFor="let project of (projects$ | async).entities" (click)="selectProject(project)">
        <span>{{project.name}}</span>
        <i class="material-icons" *ngIf="selectedProject?.id === project.id">keyboard_arrow_left</i>
      </button>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <mat-expansion-panel [hideToggle]="true" [expanded]="true" *ngIf="selectedProject" class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Select environment
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-button *ngFor="let environment of selectedProject?.environments" (click)="selectEnvironment(environment)">
        <span>{{environment.name}}</span>
        <i class="material-icons" *ngIf="(selectedEnvironment$ | async)?.id === environment.id">keyboard_arrow_left</i>
      </button>
    </mat-expansion-panel>
  </mat-sidenav>
</mat-sidenav-container>
