.sidenav-container {
  position: fixed;
  height: calc(100% - 64px - 144px); // minus footer 64px and header 144px
  min-height: calc(100% - 64px - 144px); // minus footer 64px and header 144px
  width: 100%;
  min-width: 100%;
}

.sidenav-content-wrapper {
  display: flex;
  flex-direction: column;
}

.sidenav-toggle {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.expansion-panel {
  box-shadow: none !important;
}
